* {
  padding: 0; margin: 0
}

.noDefaultTouch {
  touch-action: none;
}

h1 {
  font-family: sans-serif;
}

/* https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body {
  overflow-y: hidden;
  overflow-x: hidden;
}
